h1{
  text-align: center;
}
h2{
    text-align: center;
    color:white;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
}
li{
  float: left;

}
li a{
 border: 1px solid white;
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}
li a:hover{
    background-color: #555;
}
a{
    text-decoration: none;
    text-decoration-color: black;

}
.current{
  background-color: green;
}
.content{
  border: 1px solid black;
}
#feedback{
  margin: 0px;
  padding: 0px;
}
#submit{
  background-color: green;
}
#label{
  margin: 0px;
  padding-top: 10px;
  text-align: left;
  color: green;
}
p{
  font-size: 20px;
}
